[req]
days                   = 3650
serial                 = 1
distinguished_name     = Vay
x509_extensions        = v3_ca
[Vay]
countryName            = SN
stateOrProvinceName    = Senegal
localityName           = Dakar
organizationName       = NIIT
organizationalUnitName = NIIT Senegal
commonName             = vay.com
emailAddress           = skywalker7102pif@gmail.com
[ v3_ca ]
# The extentions to add to a self-signed cert
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
# THIS IS VERY IMPORTANT IF YOU WANT TO USE THIS CERTIFICATION AS AN AUTHORITY!!!
basicConstraints       = CA:TRUE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign
subjectAltName         = @alt_names
issuerAltName          = issuer:copy
[alt_names]
DNS.1 = vay.com
DNS.2 = localhost
DNS.3 = dev.localhost.com.127.0.0.1.io
IP.1= 127.0.0.1
