<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link th:rel="stylesheet" th:href="@{5.0/dist/css/bootstrap.min.css}">-->
</head>
<body>


<p class="bg-dark" th:text="'Hello, world '" ></p>
<form method="POST" enctype="multipart/form-data" action="/files/upload">
    <table>
        <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
        <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
</form>
</body>
</html>